@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin;

@model IEnumerable<LibraryMengament.Models.book>

@{
    ViewBag.Title = "Index";
}



<h2>Index</h2>

<p>
    @if (Request.IsAuthenticated)
    {
        var userManager = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>();
        var roles = userManager.GetRoles(HttpContext.Current.User.Identity.GetUserId());
        if (roles.Contains("Admin"))
        {
            @Html.ActionLink("Create New", "Create")
        }
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.author.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lcategory.catname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publisher.name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.edition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.author.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lcategory.catname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publisher.name)
            </td>
            <td>
                @if (Request.IsAuthenticated)
                {
                    var userManager = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>();
                    var roles = userManager.GetRoles(HttpContext.Current.User.Identity.GetUserId());
                    if (roles.Contains("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.id })
                    }
                }
                |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
